body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
}
@font-face
{
   font-family: "Lato Light";
   src: url('../lato-light.woff') format('woff'),
        url('../lato-light.ttf') format('truetype'),
        url('../lato-light.svg') format('svg'),
        url('../lato-light.eot') format('embedded-opentype');
}
@font-face
{
   font-family: Lato;
   src: url('../lato-black.woff') format('woff'),
        url('../lato-black.ttf') format('truetype'),
        url('../lato-black.svg') format('svg'),
        url('../lato-black.eot') format('embedded-opentype');
}
@font-face
{
   font-family: Roboto;
   src: url('../yiypvboh.woff') format('woff'),
        url('../yiypvboh.ttf') format('truetype'),
        url('../yiypvboh.svg') format('svg'),
        url('../yiypvboh.eot') format('embedded-opentype');
}
a
{
   color: #15273F;
   text-decoration: underline;
}
a:hover
{
   color: #DCDCDC;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
a.style1
{
   color: #51473C;
   background: #F2F0ED;
   text-decoration: none;
}
a.style1:visited
{
   color: #51473C;
   background: #F2F0ED;
   text-decoration: none;
}
a.style1:active
{
   color: #79AF23;
   background: #F2F0ED;
   text-decoration: none;
}
a.style1:hover
{
   color: #79AF23;
   background: #F2F0ED;
   text-decoration: none;
}
.style1
{
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   cursor: pointer;
}
#wb_Form1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2
{
   font-family: "Lato Light";
   font-weight: normal;
   font-size: 12px;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Button1
{
   opacity: 0.00;
   margin: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#phone
{
   border: 1px solid #EDE0CA;
   border-radius: 20px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Lato;
   font-weight: normal;
   font-size: 16px;
   line-height: 44px;
   padding: 0px 0px 0px 12px;
   margin: 0;
   text-align: left;
}
#Checkbox1
{
   margin: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5
{
   font-family: "Lato Light";
   font-weight: normal;
   font-size: 11px;
   line-height: 12px;
}
#wb_Text5 div
{
   text-align: left;
   white-space: nowrap;
}
